body {
  background-color: #333;
  background-image: url('https://upload.wikimedia.org/wikipedia/ru/0/02/%D0%93%D0%B0%D1%87%D0%B8%D0%BC%D1%83%D1%87%D0%B8.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

div {
 background-color: white;
}